body {
  margin: 0 auto;
  padding: 0;
}

.full-page {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border: 5px solid black;
}
nav {
  text-align: right;
  position: fixed;
  width: 100%;
  background-color: black;
  opacity: 0.6;
}

nav ul li {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

#slidingPage{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  left: 0;
}

#thoughtbox {
  position: relative;
  margin-left: 20%;
  top: 100px;
  width: 350px;
  height: 350px;
  border: 5px solid white;
}

#thoughtbox h1 {
  -webkit-backface-visibility: hidden;
  position: relative;
  font-family: 'Advent Pro', sans-serif;
  font-size: 30px;
  color: white;
  margin-left: 20% ;
  margin-top: 40%;
}

.full-page .aboutMe img {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.innerContainer {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  margin-top: 55px;
  border: 2px solid black;
}

.innerContainer h1 {
  margin: 0 auto;
}
.aboutBox{
  position: relative;
  dislay: inline-block;
  margin: 1%;
  float: left;
  width: 30%;
  height: 90%;
}

.work, .learn, .relax{
  border: 2px solid black;
}

#workTopImage, #workBottomImage, #funTopImage, #funBottomImage {
    position: absolute;
    width: 100%;
    height: 100%;
}

.work #workTopImage {
  background-image: url('../images/nyskyline.jpg');
   background-size: 100% 100%;
  -moz-background-size:100% 100%;
  -webkit-background-size:100% 100%;
}

.work p {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  width: 100%;
}

#workTopImage h1, #funTopImage h1 {
  color: white;
  font-family: 'Advent Pro', sans-serif;
  font-size: 60px;
  text-align: center;
  margin-top: 103%;

}

.learn {
  border: none;
}

.learn h1 {
  color: black;
  font-family: 'Advent Pro', sans-serif;
  font-size: 60px;
  text-align: center;
  background-color: white;
  width: 100%;
}

.learn p {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-align: center;
  background-color: white;
  width: 100%;
}

.fun #funTopImage {
  background-image: url('../images/sunset.jpg');
  background-size: 100% 100%;
  -moz-background-size:100% 100%;
  -webkit-background-size:100% 100%;
}

.work #workBottomImage {
  background-color: white;
  background-size: 100% 100%;
  -moz-background-size:100% 100%;
  -webkit-background-size:100% 100%
}

.fun #funBottomImage {
  background-color: white;
  background-size: 100% 100%;
  -moz-background-size:100% 100%;
  -webkit-background-size:100% 100%
}

.fun p {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  width: 100%;
}

.arrow {
  margin-left: 5%;
  width: 50px;
  height: 50px;
  padding: 15px;
}

